---
import Double from "./double.html";

prop name;
prop age;
---

<script>
	let d = document.querySelector("div");
	d.style.border = "1px solid red";
</script>

{if age > 1}
<div class="container">
	<div>{name}'s age is: {age}</div>

	{if age > 300}
		<div class="dust">Dust (300+)</div>
	{else if age > 200}
		<div class="dead">Dead (200+)</div>
	{else if age > 90}
		<div class="old">Wow (90+)</div>
	{else if age > 80}
		<div class="old">Well done (80+)</div>
	{else if age > 40}
		<div class="mid">Over the hill (40+)</div>
	{else if age >= 21}
		<div class="young">Can drink (21+)</div>
	{else}
		<div class="new">Just a baby (Under 21)</div>
	{/if}

	<Double {age} text={age > 100 ? "yoooo that's old" : ""} />
</div>
{/if}

<style>
	.container {
		background-color: gray;
	}
	div > div {
		font-size: 2rem;
	}
	div.dead {
		color: red;
		font-weight: bold;
	}
	div.old {
		color: green;
	}
	.mid {
		color: orange;
	}
	.young {
		color: blue;
	}
	.new {
		color: pink;
	}
</style>