---
import Age from "age.html";
import Head from "./head.html";
import Todos from "./todos.html";
import AgeButton from "age_button.html";

prop name;
prop age;
prop animals;
prop test = "whatever";

let text = "something" + name;
let title = "Pico";

var salutation = "hola";
//var salutation;

let path = "./mycomp.html";
let comp = "mycomp";
let new_animal = "";
---

<!DOCTYPE html>
<html lang="en">
	<Head {title} />
	<body>
		<main>
			<div id="plenti_cms"></div>
			<button id="toggle_plenti_cms">Toggle CMS</button>
			<AgeButton {age} />
			<AgeButton age={age + 1} />
			<h1>{salutation} {name}</h1>
			<span>{test}</span>
			<span>{text}</span>
			{if name.length >= 3}
				<div id="praise">{name} is a long name</div>
				{if age > 0}
					<div>Has been born</div>
				{/if}
			{else if name.length == 2}
				<div id="praise">{name} is medium</div>
			{else}
				<div id="praise">{name} is a short name</div>
			{/if}
			{if age > 0}
				<Age name={"Bill"} {age} />
				<Todos number={age + 5} />

				<Age name={"Bo"} age={age + 50} />
				<Todos number={14} />

				<Age name={"Baggins"} age={201} />
				<Todos number={7 - 2} />
			{/if}

			<="./mycomp.html" {age} />
			<='{path}' />
			<="./{comp}.html" age={age + 1} />

			<div class="animals">
				{for let animal of ["new animal", ...animals]}
					{if animal == "cat"}
						<div>Hi {animal}!</div>
					{else}
						<div>Bye {animal}.</div>
					{/if}
					<div class="type-{animal}">{name} likes: {animal}s</div>
					<div>Backwards: s{animal.split('').reverse().join('')}</div>
					<button onclick="{animals = animals.filter(a => a !== animal)}">Remove {animal}</button>
					<br><br>
				{/for}
				{for var i of ["word", "up", "my", "homie"]}
					<div>{name} {i}</div>
				{/for}
			</div>
			<div>
				<h3>Add new animal:</h3>
				<input type="text" placeholder="animal name" value="{new_animal}">
				<button onclick="{animals = [new_animal, ...animals]; new_animal = '';}">Submit</button>
				<button onclick="alert('hi ' + {new_animal})">alert</button>
			</div>
		</main>
	</body>
</html>

<style>
	h1 {
		color: orange;
	}
	body #praise {
		font-size: 3rem;
	}
	span {
		color: purple;
	}
	.animals {
		background-color: black;
		color: white;
	}
</style>